@import './Imports/fit-color-palette';

*{
  box-sizing: border-box;
}
html,
body{
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}

// Extra Add on Classes
// Extra Add on Classes

#page-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

// Navbar
  nav{
    height: 12vh;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
  }

  // Logo Styles
    #logo{
      padding:1vh 1vw;
      text-align: center;
      margin: auto 1vh;    
      z-index: 999;
    }
    #logo-img {
      max-height: 10vh;
      max-width: 10vw;
    }
  // Logo Styles

  // Styling Links
    .nav-links{
      display: flex;
      list-style: none; 
      width: 88vw;
      padding: 0 0.7vw;
      justify-content: space-evenly;
      align-items: center;
      text-transform: uppercase;
    }
    .nav-links li a{
      text-decoration: none;
      margin: 0 0.7vw;
      color: #f2f5f7 !important;
      letter-spacing: 1px;
      font-weight: 300;
    }
    .nav-links li a:hover {
      color: #61DAFB !important;
    }
    .nav-links li {
      position: relative;
      opacity: 1 !important;
    }
    .nav-links li a::before {
      content: "";
      display: block;
      height: 3px;
      width: 0%;
      background-color: #61DAFB;
      position: absolute;
      transition: all ease-in-out 250ms;
      margin: 0 0 0 10%;
    }
    .nav-links li a:hover::before{
      width: 80%;
    }
  // Styling Links

  // Styling Buttons
    .login-button{
      background-color: transparent;
      border: 1.5px solid #f2f5f7;
      border-radius: 2em;
      padding: 2vh 2vw;
      margin-left: 2vw;
      font-size: 1rem;
      cursor: pointer;
      color: #f2f5f7;
    }
    .login-button:hover {
      color: #131418;
      background-color: #f2f5f7;
      border:1.5px solid #f2f5f7;
      transition: all ease-in-out 350ms;
    }
    .join-button{
      color: #131418;
      background-color: #61DAFB;
      border: 1.5px solid #61DAFB;
      border-radius: 2em;
      padding: 2vh 2vw;
      font-size: 1rem;
      cursor: pointer;
    }
    .join-button:hover {
      color: #f2f5f7;
      background-color: transparent;
      border:1.5px solid #f2f5f7;
      transition: all ease-in-out 350ms;
    }
  // Styling Buttons

  // Styling Hamburger Icon
    .hamburger div{
      width: 30px;
      height:3px;
      background: #f2f5f7;
      margin: 5px;
      transition: all 0.3s ease;
    }
    .hamburger{
      display: none;
    }
  // Styling Hamburger Icon

  // Animations
    .toggle .line1{
      transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
      transition: all 0.7s ease;
      width:0;
    }
    .toggle .line3{
      transform: rotate(45deg) translate(-5px,-6px);
    }
  // Animations
// Navbar

// Footer
  #footer-grid{
    grid-column: 1;
    grid-row: 3;
    display: grid;
  }
// Footer

// Media Queries
  // Navbar
    @media screen and (max-width: 800px){
      nav{
          position: fixed;
          z-index: 3;
      }
      .hamburger{
          display:block;
          position: absolute;
          cursor: pointer;
          right: 5%;
          top: 50%;
          transform: translate(-5%, -50%);
          z-index: 2;
          transition: all 0.7s ease;
      }
      .nav-links{
          position: fixed;
          background-color: #131418;
          height: 100vh;
          width: 100%;
          flex-direction: column;
          clip-path: circle(50px at 90% -20%);
          -webkit-clip-path: circle(50px at 90% -10%);
          transition: all 1s ease-out;
          pointer-events: none;
      }
      .nav-links.open{
          clip-path: circle(1000px at 90% -10%);
          -webkit-clip-path: circle(1000px at 90% -10%);
          pointer-events: all;
      }
      .nav-links li{
          opacity: 1 !important;
      }
      .nav-links li:nth-child(1){
          transition: all 0.5s ease 0.2s;
      }
      .nav-links li:nth-child(2){
          transition: all 0.5s ease 0.4s;
      }
      .nav-links li:nth-child(3){
          transition: all 0.5s ease 0.6s;
      }
      .nav-links li:nth-child(4){
          transition: all 0.5s ease 0.7s;
      }
      .nav-links li:nth-child(5){
          transition: all 0.5s ease 0.8s;
      }
      .nav-links li:nth-child(6){
          transition: all 0.5s ease 0.9s;
          margin: 0;
      }
      .nav-links li:nth-child(7){
          transition: all 0.5s ease 1s;
          margin: 0;
      }
      li.fade{
          opacity: 1 !important;
      }
    }
  // Navbar
// Media Queries