// Form Colors
  $color-primary: #173F5F;
  $color-secondary: #3CAEA3;
// Form Colors

// Button Colors
  $btn-color-primary: rgb(92, 168, 255);
  $btn-color-primary-hover:rgb(78, 144, 221);
// Button Colors